/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */

body {
    background-color: var(--bg-color--dark) ;
}

@media screen and (max-width: 1900px) {
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-color--header);
    }

    .navbar {
        list-style: none;

        padding-right: 60px;


    }

    .navbar li {
        display: inline-block;
        padding: 30px 0 30px 0;
    }

    .navbar a {
        text-decoration: none;
        display: block;
        position: relative;
        padding: 30px;
        font-size: 15px;
        letter-spacing: 2px;
        color: var(--link);
    }


    .navbar li:hover {
        background-color: var(--link--hover);
    }

.navigation h1 {
    padding-left: 60px;
        color: var(--link);
      font-family: Roboto, sans-serif;
}
.blog {
    color: #9d27b0;
}
}

