/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
    --bg-color--dark: #0b192f;
    --bg-color--header: #024161;
    --link: #fff;
    --link--hover: #1f52a4;
    --bg-footer-color: #024161;
}

body {
    font-family: Roboto, sans-serif;
}

.post-1 {
    background: #9d27b0;
}

.post-2 {
    background: #9bb800;
}

.post-3 {
    background: #ed5120;
}

.post-4 {
    background: #9d27b0;
}

.post-5 {
    background: #2d95bb;
}

/* Your styles go here */


@media screen and (max-width: 2000px) {
    body {
        background-color: var(--bg-color--dark);
        width: 1400px;
        height: 100%;
        margin: auto;
    }

    header {

        padding-bottom: 30px;
        margin-top: 0px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: #024161;
    }

    .navbar {
        display: flex;
        align-items: stretch;

    }

    .link {
        padding-right: 20px;
        padding-left: 20px;
    }

    nav a {
        display: flex;
        align-items: center;
        text-align: center;
        padding-right: 15px;
        text-decoration: none;
        color: #fff;
    }

    nav a:hover {

        background: #1f52a4;
        background-size: 200px;
    }

    .navigation h1 {
        padding-left: 60px;
        color: #fff;
        font-family: Roboto, sans-serif;
    }

    .blog {
        color: #9d27b0;
    }

    .top-img {
        display: flex;
        background-image: url(../img/post0.jpg);
        background-repeat: no-repeat;
        height: 45vh;
        background-position: center;
        background-size: cover;
    }

    .top-img-text {
        padding-left: 30px;
        padding-bottom: 30px;
        align-self: flex-end;
        width: 65%;
    }

    .top-img h1 {
        font-size: 40px;
        color: #ffffff;
    }

    .top-img p {
        color: #ffffff;
    }


    .flex {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;

    / / max-width: 700 px; /* макс ширина блока */
    / / margin: 0 auto; /* выравниваем блок по центру */
    / / font-size: 400 %;
    }

    .mainitem, .item {
        flex-grow: 1; /* растягивание элементов */
        flex-wrap: wrap;

    / / background: #b5ced8;
        display: flex;
        justify-content: center;
        align-items: center; /* цифры по центру */
    }


    .mainitem, img {
        justify-content: flex-start;
        width: 500px;
        height: 400px;
        flex-direction: row;


    }

    .mainitem {
        min-height: 300px; /* высота основного блока */
        margin: 0;
    }

    .sideitem {
        /* flex:0 0 150px; */
        flex-basis: 380px; /* ширина 150 */
        flex-shrink: 0; /* Убираем уменьшение = 150 */

        display: flex;
        flex-direction: column;

    }

    .sideitem img {
        width: 380px;
        height: 220px;
    }

    .color {
        background: #ffffff;
    }

    .item {
        align-self: center;
        flex-basis: 50%;
        min-height: 150px;
        margin-left: 10px;
        margin-top: 0;
    }

    .sideitem p, h1 {
        width: 310px;
        margin: 0 auto;
        align-self: center;
        padding-top: 30px;

    }

    .sideitem p {
        line-height: 1.5;
        padding-top: 10px;
        padding-bottom: 30px;
    }

//.item:first-child {
      margin-bottom: 10px;
  }

    .img-text {
        //background: #9d27b0;
        align-self: center;
    / / text-align: center;
        width: 510px;
        height: 400px;

    }


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    	color: grey;
	font-size: 12px;
  height: 100px;
  background: #024161;

    margin-top: 850px;
}
.footer div{
	padding: 10px 20px;
}
}


