$Marg: 0;
$Body_color: #ffffff;
$PaddingLft: 200px;
$Header_font_color: #000000;
$Header_img: url(../img/m-h-day.jpg);
$header_bg_Size: cover;

$Heading_sometext_color: #328aff;

$Header_wrap_padding: 0 0 0 190px;
$Card_color: #313131;


$Banner_bg_color: linear-gradient(270deg, #0060d1, #059100);
$Banner_text_color: #383838;
$ButtonBg: #059100;
$Bunner_sometext_color: #3174e3;
