$Marg: 0;
$Body_color: #ffffff;
$PaddingLft: 200px;
$Header_img: url(../img/m-h-day.jpg);
$header_bg_Size: cover;
$Header_wrap_padding: 0 0 0 190px;
$Card_color: #3a3a3a;

$Banner_bg_color: linear-gradient(270deg, #0017d4, #059100);
$Banner_text_color: #383838;
$ButtonBg: #059100;
$Bunner_sometext_color: #3174e3;
