$Marg: 0;
$Body_color: #000000;
$PaddingLft: 200px;
$Header_img: url(../img/m-h-night.jpg);
$header_bg_Size: cover;
$Header_wrap_padding: 0 0 0 190px;
$Card_color: #5f5f5f;

$Banner_bg_color: linear-gradient(270deg, #ac0800, #aca000);
$Banner_text_color: #ffffff;
$ButtonBg: #aca000;
$Bunner_sometext_color: #ba6e00;