$Marg: 0;
$Body_color: #2f2f2f;
$PaddingLft: 200px;
$Header_font_color: #ffffff;
$Header_img: url(../img/m-h-night.jpg);
$header_bg_Size: cover;

$Heading_sometext_color: #a45900;

$Header_wrap_padding: 0 0 0 190px;
$Card_color: #464646;

$Banner_bg_color: linear-gradient(270deg, #902c00, #8b7f00);
$Banner_text_color: #ffffff;
$ButtonBg: #d69e00;
$Bunner_sometext_color: #ba6e00;