body {
    background: white;
    margin: 0;
}

header {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home {
    font-size: 22px;
    color: #777777;
    font-family: 'Arimo', sans-serif;
}

.navbar {
    list-style: none;
    margin: 0;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #777777;
}

.navbar a:hover {
    color: #bfba55;
}

.main_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.picture {
    overflow: hidden;
    height: 700px;
}

.dark {
    position: relative;
}

.dark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.picture_component {
    position: absolute;
    font-size: 18px;
    z-index: 2;
}

.picture_header {
    font-size: 60px;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
}

.picture_text {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    color: #bfba55;
    margin-bottom: 40px;
}

.picture_button {
    width: 150px;
    height: 35px;
    border: 1px;
    border-radius: 20px;
    font-size: 13px;
    font-family: 'Arimo', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.autor_pic {
    margin-top: 50px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_main {
    width: 800px;
    font-size: 30px;
    font-weight: bold;
}

.alt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.autor_info {
    display: flex;
    flex-direction: row;
    width: 800px;
    color: #777777;
}

.autor_info img {
    width: 50px;
    height: 50px;
    border-radius: 200px;
}

.autor_info p {
    padding-top: 5px;
    font-family: 'Arimo', sans-serif;
    padding-left: 20px;
}

.autor_text {
    display: flex;
    flex-direction: row;
    width: 800px;
    color: #777777;
    font-size: 17px;
    line-height: 1.5;

}

.button {
    display: flex;
    flex-direction: row;
    width: 800px;
}

.autor_button {
    width: 150px;
    height: 40px;
    border: 1px solid #777777;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: #777777;
    background: none;
}

hr {
    width: 800px;
    margin-top: 80px;
    border: 1px solid #777777;
    opacity: 0.3;
}


footer {
    width: 100%;
    height: 300px;
    background-color: #000000;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: #777777;
    width: 400px;
}


.left_footer h1 {
    color: #ffffff;
}

.right_footer h1 {
    color: #ffffff;
}