.tm-nav-item:hover {
    background-color: lightskyblue;
    color: #fff;
}

.tm-banner {
    background-image: linear-gradient(to right, lightskyblue, burlywood);
}

.tm-banner-inner {
    background-color: white;
}

.tm-banner-text {
    text-shadow: 5px 5px 2px #333;
    animation-duration: 3s;
    animation-name: slide;
    animation-iteration-count: 1;
}

@keyframes slide {
    from {
        margin-left: 200px;
    }
    to {
        margin-left: 0%;
    }
}

.flex-2-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tm-section-title{
    text-align: center;
}
.tm-section-description {
    text-indent: 1.5em;
}

.box-bg:hover, .tm-box-bg-title:hover{
    background-color: lightgrey;
    color: lightskyblue;
}

.heading h2{
    text-align: center;
    color: lightskyblue;
}
.heading ol{
    list-style-type: lower-alpha;
}

.heading a:hover:before{
    content: '>';
    color: black;
        font-weight: bold;
}
a.text::after{
    content: 'New';
    color: red;
    vertical-align: super;
    font-size: 10px;
    font-weight: bold;
}

.blocks .tm-team-description-container h2{
    text-align: left;
}
.blocks p:nth-child(3n){
    font-style: italic;
    letter-spacing: 5px;
    word-spacing: 10px;
}
